.testimonial {

    padding: 10px;
    text-align: center;
    width: 300px;
    background-color: #f7ecec;

    &__photo {
        border-radius: 85px;
        border: 8px solid #fff;
        margin: 0 auto;
    }

    &__title {
        color: blue;
    }

    &__subtitle {
        color: orange;
    }

    & > p {
        line-height: 1.8rem;
    }

}